MDC_API_KEY=2ec33f4e692ea71c4f1e8769deab878ef020df333e1ac3f8bbdd50e9ec6d2491 # change to your MDC API Key
MDC_API_URL=https://datacollective.mozillafoundation.org/api # change to MDC API URL endpoint
# MDC_DOWNLOAD_PATH=~/.mozdata/datasets # change to where you want to download datasets
MDC_DOWNLOAD_PATH=~/home/exx/data/cv/archive